#about {
    .bio-statement {
        display: inline-block;
        float: none;
        vertical-align: middle;
    }

    .bio-picture {
        display: inline-block;
        float: none;
        vertical-align: middle;
        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    @include breakpoint-only(xs) {
        .bio-picture {
            display: block;
            margin: 0 auto 20px auto;
        }
    }
}