#contact {
    
    font-family: "Raleway", sans-serif;
    font-weight: 400;

    #title {
        font-size: 27px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 15px;
    }

    #subtitle {
        font-size: 22px;
        text-align: center;
    }
    
    #contact-methods {
        text-align: center;

        .contact-method {
            display: inline-block;
            margin: 0 10px;
            text-align: center;
            font-size: 18px;

            .icon {
                margin: 0 auto;
            }
        }
    }
    .icon {
        $base-icon-size: 40px;
        font-size: $base-icon-size;
        width: 75px;
        height: 75px;
        line-height: 75px;
        text-align: center;
        background-color: $deep-purple;
        color: white;
        border-radius: 50%;

        &#email {
            font-size: $base-icon-size * 33/40;
        }

        &#github {
            font-size: $base-icon-size * 40/40;
        }

        &#twitter {
            font-size: $base-icon-size * 38/40;
        }

        &#linkedin {
            font-size: $base-icon-size * 33/40;
        }
    }
}