@mixin breakpoint-only($class) {
  @if $class == xs {
    @media (max-width: $screen-xs-max) { 
      @content; 
    }
  } @else if $class == sm {
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) { 
      @content; 
    }
  } @else if $class == md {
    @media (min-width: $screen-md) and (max-width: $screen-md-max) { 
      @content; 
    }
  } @else if $class == lg {
    @media (min-width: $screen-lg) { 
      @content; 
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin breakpoint-and-up($class) {
  @if $class == xs {
    @media (min-width: $screen-xs) { 
      @content; 
    }
  } @else if $class == sm {
    @media (min-width: $screen-sm) { 
      @content; 
    }
  } @else if $class == md {
    @media (min-width: $screen-md) { 
      @content; 
    }
  } @else if $class == lg {
    @media (min-width: $screen-lg) { 
      @content; 
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin breakpoint-and-down($class) {
  @if $class == xs {
    @media (max-width: $screen-xs-max) { 
      @content; 
    }
  } @else if $class == sm {
    @media (max-width: $screen-sm-max) { 
      @content; 
    }
  } @else if $class == md {
    @media (max-width: $screen-md-max) { 
      @content; 
    }
  } @else if $class == lg {
      @content;
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

/*
  https://github.com/bfred-it/object-fit-images/blob/gh-pages/preprocessors/mixin.scss
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
     object-fit: $fit;
  @if $position {
      -o-object-position: $position;
         object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}