.navbar {
    font-family: $big-john-font-stack;
    color: #333333;
    border-bottom-width: 3px;

    .navbar-brand {
        font-size: 40px;
    }

    .navbar-toggle {
        background-color: white !important;
        border-color: $deep-purple;
        border-width: 2px;

        .icon-bar {
            background-color: $deep-purple;
        }
        
        &:hover, &:active {
            background-color: $deep-purple !important;

            .icon-bar {
                background-color: white
            }
        }

    }

    li a {
        outline: none;
        font-size: 17px;
        padding-left: 10px;
    }
    
    $active-nav-color: $deep-purple;
    $inactive-nav-color: mix($deep-purple, #fff, 40%);

    .nav-underline {
        margin: 0 auto;
        width: 0;
        height: 4px;
        margin-bottom: -2px;
        border-bottom: 2px solid $inactive-nav-color;
        transition: width 0.15s ease-in-out;
    }

    a.active {
        .nav-underline {
            width: 95%;
            border-bottom-color: $active-nav-color;
        }
    }

    li a:not(.active):hover {
        .nav-underline {
            width: 30%;
        }        
    }

    @include breakpoint-only(sm) { 
        .navbar-brand {
            font-size: 35px;
        }        
    }

    @include breakpoint-only(xs) {
        margin-bottom: 25px;
        $new-height: 65px;
        $brand-vertical-padding: 10px;
        min-height: $new-height;

        .navbar-brand {
            height: $new-height;
            line-height: $new-height - (2 * $brand-vertical-padding);
            padding-top: $brand-vertical-padding;
            padding-bottom: $brand-vertical-padding;
            font-size: 20px;
        }

        .navbar-toggle {
            margin-top: ($new-height - 34px) / 2;
            margin-bottom: ($new-height - 34px) / 2;           
        } 
        
        // Center links and make sure underlines are only as long as the a tag
        li {
            display: block;
            text-align: center;
            a {
                display: inline-block;
            }
        }
    }
}