#portfolio {
    margin-top: 30px;

    #portfolio-nav {
        font-family: $big-john-font-stack;
        color: #333333;
        font-size: 17px;

        ul {
            text-align: center;
            user-select: none;
            padding-left: 0;

            li {
                display: inline-block;
                margin: 0;
                
                a {
                    outline: none;
                    margin: 0 5px;
                    padding: 5px 10px;
                    border-radius: 3px;
                }

                a:link, a:hover, a:active, a:visited {
                    text-decoration: none;
                    color: #333;
                }

                a:hover {
                    background-color: mix($deep-purple, #fff, 50%);
                    color: white;
                }

                a.active {
                    background-color: rgb(162, 0, 172);
                    color: white;
                }
            }
        }
    }


    #portfolio-grid {
        margin-top: 30px;
        margin-bottom: 50px;
        width: 100%;
        
        .project {
            padding: 0;
            margin: 0;
            overflow: hidden;
            
            // transition: opacity 0.3s ease-in-out;

            .hover-title {

                .title-caption {
                    background-color: white;
                    z-index: 1000;
                    position: absolute;
                    top: 10px;
                    right: 0;
                    border-radius: 3px 0 0 3px;
                    padding: 3px 18px;
                    color: black;
                    text-align: left;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                    letter-spacing: 1px;

                    background-color: $deep-purple;
                    color: white;
                    
                    // transition: transform 0.3s ease-in-out;
                    // right: 15px;
                    // opacity: 0.9;
                    // transform: translate(100%, 0);         
                    // transform: translate(15px, 0);
                    
                    // text-transform: uppercase;
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    letter-spacing: 0.5px;
                    font-style: italic;
                    // 
                    // font-family: "Lato",sans-serif;
                    // font-weight: 300;
                    // font-size: 22px;
                    // letter-spacing: 0;
                    // font-style: italic;
                    // 
                    // font-family: "Josefin Sans",sans-serif;
                    // font-weight: 400;
                    // font-size: 22px;
                    // letter-spacing: 1px;
                    // font-style: italic;
                    
                    // font-family: $big-john-font-stack;
                    // letter-spacing: 0.25px;
                    // font-size: 16px;
                }

                &:hover {
                    .title-caption {
                        opacity: 0.9;

                        // transform: translate(15px, 0);
                    }
                }
            }

            .hover-slideshow {
                position: relative;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    @include object-fit(cover);
                }
            }
        }
    }

    @include breakpoint-only(xs) { 
        margin-top: 25px;

        #portfolio-nav {
            ul {
                li {                    
                    margin-bottom: 15px;
                    a {
                        margin: 0 8px;
                        padding: 5px 8px;
                    }
                }
            }
        }

        #portfolio-grid {
            margin-top: 10px;
            .project {
                .hover-title {
                    .title-caption {
                        padding: 3px 12px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @include breakpoint-only(sm) {     
        #portfolio-grid {
            .project {
                .hover-title {
                    .title-caption {
                        padding: 3px 12px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
