// Force scrollbar to always show in order to prevent content from shifting when
// a scrollbar appears. TODO: come up with a better JS-fix.
html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #CECECE;
  border-radius: 10px;
  &:hover {
    background: #AF86B2;//hsl(296, 100, 70);
  }
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-corner { 
  background: transparent;
}