extend ./jade-layouts/_basic-page.jade

block content
    -
        var imageNames = [
            "images/display-9986-post-large.jpg",
            "images/display-9767-post-large.jpg",
            "images/display-9976-post-large.jpg",
            "images/crowd-large.jpg",
            "images/elevate-text-large.jpg",
            "images/evolved-text-large.jpg",            
            "images/gras-letter-large.jpg",            
            "images/gras-notice-large.jpg",
            "images/anderson-iteration-large.jpg",
            "images/anderson-situation-cards-large.jpg",
            "images/api-weather-flickr-large.jpg",
            "images/chronology-contents-large.jpg",
            "images/hd-cropped-about-large.jpg",
            "images/hhear-large.jpg",
            "images/polycrunch-large.jpg",
            "images/slide-conditional-large.jpg"
        ];
        var imageCaptions = [
            "Installation view at SAIC.",
            "Close up of advertisement posters.",
            "Close up of Promise Apple apple crates.",
            "Crowd at the installation opening.",
            "Digital image from advertisement.",
            "Digital image from advertisement.",            
            "Letter to FDA requesting GRAS status.",            
            "Letter from FDA granting GRAS status.",
            "Some caption about student iteration.",
            "Some caption about situation cards.",
            "Insert caption here.",
            "Hey, put a caption here.",
            "Caption me, please.",
            "Bleep bloop.",
            "Bleep bloop!",
            "Bleh. This is a longer caption that fills the screen up quite a bit."
        ];

    .container

        p(style="margin: 50px 0") Biodiesel chillwave +1, kombucha vinyl cornhole messenger bag pabst actually XOXO squid man braid 3 wolf moon slow-carb kinfolk. Farm-to-table chicharrones drinking vinegar biodiesel. Biodiesel vice mustache 3 wolf moon, 8-bit taxidermy cornhole truffaut church-key chillwave pitchfork flannel squid man braid health goth. Hella artisan YOLO, art party etsy chia echo park yr messenger bag.

        .slideshow
            .selected-image
            .caption
            .thumbnail-wrap
                .visible-thumbnails
                    .thumbnails
                        each imageName, i in imageNames
                            -
                                var caption = (imageCaptions && imageCaptions[i]) || "";
                                var fileInfo = imageName.split(".");
                                var baseFile = fileInfo[0].split("-");
                                baseFile.pop();
                                var basePath = baseFile.join("-");
                                var thumbnailPath = basePath + "-small." + fileInfo[1];
                                var largePath = basePath + "-large." + fileInfo[1];
                            img(src=thumbnailPath, data-large-path=largePath, data-caption=caption)
                i.fa.fa-chevron-left.thumbnail-advance-left
                i.fa.fa-chevron-right.thumbnail-advance-right

            .slideshow-modal
                .modal-overlay
                .modal-contents
                    .modal-image
                    .modal-caption
                    i.fa.fa-chevron-left.image-advance-left
                    i.fa.fa-chevron-right.image-advance-right
                i.fa.fa-times.modal-close


        p(style="margin: 50px 0") Kale chips 8-bit next level, art party ramps shabby chic kitsch intelligentsia pug kinfolk affogato butcher. Neutra ugh cold-pressed, bushwick street art cliche brunch cardigan swag brooklyn sustainable migas artisan. Synth food truck fingerstache whatever, fap williamsburg messenger bag aesthetic yr. Squid meditation locavore, tacos craft beer freegan pabst banjo wolf authentic. Authentic pinterest fap pork belly meh 3 wolf moon. Humblebrag DIY hashtag, fixie pour-over fanny pack post-ironic locavore tofu yr flexitarian single-origin coffee cred. Kombucha farm-to-table normcore banh mi, bespoke slow-carb godard seitan affogato venmo occupy cardigan.
